---
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Kadeem Lewis">
  <main>
    <section class="opening">
      <section id="intro">
        <h1>Hi! 👋🏿 My name is <span>Kadeem Lewis</span> and I turn ideas into code.</h1>
      </section>
      <section class="socials">
        <a href="https://www.linkedin.com/in/kadeemlewis/" target="_blank">
          <Icon name=mdi:linkedin/>
        </a>
        <a href="https://github.com/kadeem-lewis" target="_blank">
          <Icon name="mdi:github" />
        </a>
        <a href="https://www.reddit.com/user/kadeemlewis/" target="_blank">
          <Icon name="mdi:reddit" />
        </a>
        <a href="mailto:email@kadeemlewis.com" target="_blank">
          <Icon name="mdi:email" />
        </a>
      </section>
    </section>
    <section id="about">
      <h2>About Me</h2>
      <p>
        The first website I ever tried to make was in 2019 for a videogame I played. I didn't know anything about code so I tried learning Wordpress to build the site. I wasn't able to finish building the site but through the process, I realized that this was something I enjoyed.
      </p>
      <p>
        Since then I have learned much more than Wordpress and my passion for this field is just as high as it was the day I centered my first div. I have used these skills that I have acquired to contribute to my personal projects, excel in my classes and even contribute to a startup. I hope to be able to use and continue to improve my skills in future endeavors!
      </p>
    </section>
    <hr />
    <section>
      <h2>Skills</h2>
      <Technologies />

    </section>
    <hr />
    <section id="experience">
      <h2>Experience</h2>
      <Timeline />
    </section>
    <hr />

    <section id="projects">
      <h2>Projects</h2>
      <Projects />
    </section>
  </main>
</Layout>

<style lang="scss">
  main {
    padding: 1.5rem;
  }
  section {
    scroll-margin-top: 4rem;
  }
  #intro {
    h1 {
      font-size: 2.5rem;
      span {
        color: hsl(var(--primary));
      }
    }
  }
  .opening {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    margin-bottom: 2rem;

  }
  .socials {
    display: flex;
    justify-self: end;
    gap: 2rem;
    [astro-icon] {
      height: 2rem;
    }
  }
  
  [astro-icon] {
      height: 1.5rem;
    }
</style>
