---
import Technologies from "../components/Technologies.astro";
import Timeline from "../components/Timeline.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kadeem Lewis">
  <main>
    <section id="intro">
      <p>Hi, my name is</p>
      <h2>Kadeem Lewis</h2>
      <h2>I turn ideas into Code.</h2>
      <p>
        I am a web developer specialing in frontend and fullstack development.
      </p>
    </section>
    <section id="about-me">
      <h3>About me</h3>
      <Technologies />
    </section>
    <section id="experience">
      <h3>Experience</h3>
      <Timeline />
    </section>
    <section id="projects">
      <h3>Projects</h3>
      <h3>Other projects I've worked on</h3>
    </section>
    <section id="contact">
      <h3>Contact</h3>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 920px;
  }
</style>
