---
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
  <nav>
    <div id="title">K</div>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Projects</a></li>
      <!-- <li><a href="/posts"><span class="label">Blog</span><Icon name="mdi:post-outline"/></a></li>
      <li><a href="/projects"><span class="label">Projects</span><Icon name="mdi:lightbulb-outline"/></a></li> -->
      <li><a href="/KadeemLewisResume.pdf" target="_blank" class="resume-button">Resume</a></li>
      <li><ThemeToggle/></li>
    </ul>
  </nav>
</header>
<style lang="scss">
  header {
    position: sticky;
    top: 0;
    background-color: hsl(var(--background));
    z-index: 100;
    border-bottom: 1px solid hsl(var(--accent));
  }
  nav {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 768px) {
    nav {
      padding: 0 1rem;
    }
  }
  #title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
  }
  li {
    list-style: none;
  }
  .resume-button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(var(--border));
  }
  [astro-icon] {
        display: none;
      }
  @media (max-width: 768px) {
    [astro-icon] {
      display: block;
        height: 1.5rem;
      }
    .label {
      display: none;
    }
    .resume-button {
      display: none;
    }
  }
</style>
