<header>
  <nav>
    <div id="title">K</div>
    <ul>
      <li><a href="#about-me">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="/public/KadeemLewisResume.pdf" target="_blank" class="resume-button">Resume</a></li>
    </ul>
  </nav>
</header>
<style lang="scss">
  header {
    position: sticky;
    top: 0;
    background-color: hsl(0, 0%, 100%);
    z-index: 100;
    border-bottom: 1px solid hsl(0, 0%, 80%);
  }
  nav {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  ul {
    display: flex;
    gap: 1rem;
  }
  li {
    list-style: none;
  }
  .resume-button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
  }
</style>
