<header>
  <nav>
    <div>KL</div>
    <ul>
      <li><a href="#about-me">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="" class="resume-button">Resume</a></li>
    </ul>
  </nav>
</header>
<style lang="scss">
  ul {
    display: flex;
    justify-content: space-around;
  }
  li {
    list-style: none;
  }
  .resume-button {
    border: 1px solid black;
    border-radius: 0.25rem;
    padding: 0.25rem 0.4rem;
  }
</style>
