<div class="card">
  <h3 class="title">Information Systems Grader</h3>
  <div class="company">New Jersey Institute of Technology</div>
  <div class="timespan">September 2023 - Present</div>
  <p class="description">
    Collaborating with the course instructor to address student questions and
    concerns, ensuring a positive learning experience.
  </p>
</div>
<div class="card">
  <h3 class="title">Frontend Developer Intern</h3>
  <div class="company">Ride Electric Vehicle</div>
  <div class="timespan">March 2023 - September 2023</div>
  <p class="description">
    Created an admin dashboard for managing rental vehicles, including adding
    new vehicles, updating existing vehicle information, and viewing vehicle and
    user information using VueJS, TailwindCSS and Firebase.
  </p>
</div>

<style lang="scss">
  .description,
  .timespan {
    margin-top: 0.5rem;
  }
  .company {
    font-weight: 600;
    margin-top: 1rem;
  }
</style>
