
    <div class="card">
        <h3 class="title">Information Systems Grader @NJIT</h3>
        <div class="location">Newark, New Jersey</div>
        <div class="timespan">September 2023 - Present</div>
        <p class="description">
            Collaborating with the course instructor to address student questions and concerns, ensuring a positive learning experience.
        </p>
    </div>
    <div class="card">
        <h3 class="title">Frontend Developer Intern @ Ride Electric Vehicle</h3>
        <div class="location">Newark, New Jersey</div>
        <div class="timespan">March 2023 - September 2023</div>
        <p class="description">
            Created an admin dashboard for managing rental vehicles, including adding new vehicles, updating existing vehicle information, and viewing vehicle and user information using VueJS, TailwindCSS and Firebase.
        </p>
    </div>

<style lang="scss">
  .description, .location, .timespan {
    margin-top: 0.5rem;
  }


</style>