---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import '@fontsource-variable/inter';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  body {
    font-family: 'Inter Variable', sans-serif;
    background-color: hsl(0, 0%, 93%);
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3 {
    margin: 0;
  }

  h2,h3 {
    font-weight: 700;

  }
  
  h1 {
    line-height: 1.1;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-top: 0;
    line-height: 1.4;
  }
  a,
  a:visited,
  a:active {
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

hr {
  margin: 4rem 0;
}
footer, main {
  max-width: 920px;
  margin: 0 auto;
}

</style>
